---
import Body from "../layouts/body.astro";

import CarouselReact from "../components/carouselReact";
import Services from "../components/services.astro";
import Destinations from "../components/destinations.astro";
import Schedules from "../components/schedules.astro";
import About from "../components/about.astro";
import Contact from "../components/contact.astro";
import Faq from "../components/faq.astro";
---

<Body>
  <CarouselReact client:load />
  <Services/>
  <Destinations />
  <Schedules />
  <Contact />
  <About />
  <Faq />
</Body>
