---
import Body from "../layouts/body.astro";
import "../styles/global.css";
---

<Body>
  <h1>hola</h1>
  <img
    src="/novatransIcon.png"
    alt="Logo NovaTrans"
    style="width:150px; height:auto;"
  />
  <h1 class="text-5xl font-bold text-[#093C63]">
    🚀 Hola, soy mi Landing con Astro + Tailwind
  </h1>

</Body>
