---
import Header from "../layouts/header.astro";
import Footer from "../layouts/footer.astro";
import Reserve from "../components/reserve.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
const title = "Novetrans | Transporte puerta a puerta en la Costa Colombiana";
const description =
  "Servicio confiable de transporte de personas y encomiendas entre Barranquilla, Cartagena, Santa Marta, Riohacha, Maicao, Sincelejo y Montería. Traslados empresariales, aeropuertos y city tours.";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="transporte puerta a puerta, encomiendas, Barranquilla, Cartagena, Santa Marta, Montería, Riohacha, Maicao, Sincelejo, city tour"
    />
    <link rel="icon" href="/novetransIcon.png" type="image/png" />
    <link rel="canonical" href="https://novetrans.com" />
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Novetrans",
      "image": "https://novetrans.com/novatransIcon.png",
      "@id": "https://novetrans.com",
      "url": "https://novetrans.com",
      "telephone": "+573017377154",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Cl. 32 #45-16, Nte. Centro Historico",
        "addressLocality": "Barranquilla",
        "addressRegion": "Atlántico",
        "addressCountry": "CO",
        "postalCode": "080001"
      },
      "openingHoursSpecification": [{
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],
        "opens": "06:00",
        "closes": "20:00"
      }]
    }
    </script>
  </head>
  <body>
    <Header />

    <main class="min-h-screen bg-[#E7EDF1] flex flex-col pt-25">
      <slot />
    </main>

    <Footer />
    <Reserve />
    <SpeedInsights />
    <Analytics />
  </body>
</html>
