---
import Header from "../layouts/header.astro";
import Footer from "../layouts/footer.astro";
import Reserve from "../components/reserve.astro";
const title =
  "NovaTrans ST | Transporte puerta a puerta en la Costa Colombiana";
const description =
  "Servicio confiable de transporte de personas y encomiendas entre Barranquilla, Cartagena, Santa Marta, Riohacha, Maicao, Sincelejo y Montería. Traslados empresariales, aeropuertos y city tours.";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="transporte puerta a puerta, encomiendas, Barranquilla, Cartagena, Santa Marta, Montería, Riohacha, Maicao, Sincelejo, city tour"
    />
    <link rel="icon" href="/novatransIcon.png" type="image/png" />
    <link rel="canonical" href="https://novatransst.com" />
  </head>
  <body>
    <Header />

    <main class="min-h-screen bg-[#E7EDF1] flex flex-col pt-25">
      <slot />
    </main>

    <Footer />
    <Reserve />
  </body>
</html>
