---
import Headermenu from "../components/headermenu.astro";
---

<header class="bg-[#093C63] text-[#FFFFFF] fixed top-0 w-full z-50">
  <div class="container mx-auto flex justify-between items-center p-4">
    <div class="flex items-center">
      <img
        src="/novatransIcon.png"
        alt="Logo NovaTrans"
        class="w-12 h-12 mr-2"
      />
      <div>
        <h1 class="text-xl font-bold text-[#ffffff]">NovaTrans</h1>
        <h2 class="text-sm text-[#E8782F]">Soluciones en transportes</h2>
      </div>
    </div>

    <Headermenu />
  </div>
</header>
